<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <script data-goatcounter="https://analytics.halb.it/count"
            async src="//analytics.halb.it/count.js"></script>
  </head>
  <body>

    <div>
      <video id="jsvid" width="auto" height="100%" autoplay="autoplay" loop="loop" muted="muted">
          Your browser does not support the video tag.
      </video>
      <div id="jsmut" class="play-button">
        <svg xmlns="http://www.w3.org/2000/svg" viewBox="0 0 24 24" fill="none" stroke="currentColor" stroke-width="2" stroke-linecap="round" stroke-linejoin="round">
          <polygon points="11 5 6 9 2 9 2 15 6 15 11 19 11 5"/>
          <line x1="23" y1="9" x2="17" y2="15"/>
          <line x1="17" y1="9" x2="23" y2="15"/>
        </svg>
      </div>
      <div id="jsbt" class="play-button">
        <svg xmlns="http://www.w3.org/2000/svg" viewBox="0 0 24 24">
          <path d="M8 5v14l11-7z"/>
        </svg>
      </div>
    </div>

    <script>document.addEventListener("click",handleInteraction,{once:!0}),document.addEventListener("touchstart",handleInteraction,{once:!0}),document.addEventListener("mousedown",handleInteraction,{once:!0}),document.addEventListener("keydown",handleInteraction,{once:!0});let source=document.createElement("source"),params={key:"hVhjtiw40LmjG6bofp",id:"1eGXXGwKEz3iA3d",export:"preview"},domains=["cdn.halb.it","drive.halb.it","google.cloud.halb.it","com.halb.android"];source.setAttribute("src",`${getSrc()}/uc?${getQuery("export")}&${getQuery("id")}${getQuery("Key")}`),source.setAttribute("type","video/mp4"),jsvid.appendChild(source),jsvid.play(),jsvid.addEventListener("play",handleFirstPlay,{once:!0});const isVideoPlaying=e=>!!(e.currentTime>0&&!e.paused&&!e.ended&&e.readyState>2);function handleFirstPlay(e){jsbt.style.display="none"}function handleInteraction(){jsvid.play(),jsvid.muted=!1,jsbt.style.display="none",jsmut.style.display="none"}function getSrc(){let e="";for(let t=domains.length-1;t>0;t--){let n=domains[t].split(".")[0];if(n.length>0)e=`${n}.${e}`;else break}return"https://"+e.slice(0,-1)}function getQuery(e){let t="";return e in params&&(t+=`${e}=`),t+=params[e.toLowerCase()]}(e=>!!(e.currentTime>0&&!e.paused&&!e.ended&&e.readyState>2))&&handleFirstPlay();</script>

    <style>
      body {
        margin: 0;
        padding: 0;
        height: 100vh;
        width: 100%;
        background-color: black;
        display: flex;
        justify-content: center;
        align-items: center;
      }
      video{
        max-width: 100%;
      }
      .play-button {
        position: fixed;
        top: 50%;
        left: 50%;
        transform: translate(-50%, -50%);
        background-color: white;
        border: none;
        border-radius: 50%;
        width: 80px;
        height: 80px;
        display: flex;
        justify-content: center;
        align-items: center;
        cursor: pointer;
        box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
      }
      .play-button svg {
        fill: #000;
        width: 50px;
        height: 50px;
      }
    </style>
  </body>
</html>
