apiVersion: apps/v1
kind: Deployment
metadata:
  name: halb-nginx
spec:
  selector:
    matchLabels:
      app: halb-nginx
  revisionHistoryLimit: 3
  replicas: 1
  template:
    metadata:
      labels:
        app: halb-nginx
    spec:
      containers:
        - name: halb-nginx
          image: ghcr.io/robalb/my-website:sha-fd91041ced807a311ec5fcc19f4d1897333904cc
          ports:
            - containerPort: 80
      imagePullSecrets:
        - name: regcred
