---
import './style.css';

---
<h3 id="level-txt" class="level">level 1</h3>
<div id="container">
  <svg viewBox='0 0 1 1'></svg>
</div>
<div class="controls">
  <button id="previous-bt">&lt Prev</button>
  <button id="restart-bt">Restart</button>
  <button id="next-bt">Next &gt</button>
</div>

<script src="./konva.js" ></script>
<script src="./script.js" ></script>
<script is:inline>
  document.addEventListener('DOMContentLoaded', function() {
    main()
  }, false);
  function main(){

    let selected = 0
    const game = new Game();

    function setGame(selected){
      let g = games[selected]
      game.initGame(
        g.frogs, g.foxes, g.rocks
      )
      document.getElementById("level-txt").innerText = " " + g.name
    }

    setGame(selected)


    document.getElementById("restart-bt").addEventListener("click", c => {
      setGame(selected)
    })

    document.getElementById("previous-bt").addEventListener("click", c => {
      selected --;
      if(selected < 0)
      selected = games.length -1;
      setGame(selected)
    })

    document.getElementById("next-bt").addEventListener("click", c => {
      selected ++;
      if(selected == games.length)
      selected = 0;
      setGame(selected)
    })
  }
</script>


