---
export interface Props {
	activePage?: string;
}
const { activePage } = Astro.props;

const navStyles = {
	blog: "",
	projects: "",
	me: ""
}
if(activePage)
	navStyles[activePage] = "active"

---
<header>
	<div class="header-container">
		<a href="/" class="brand">
			Alberto Ventafridda
		</a>
		<nav>
			<a href="/blog" class={navStyles.blog}>Articles</a>
			<a href="/projects" class={navStyles.projects}>Projects</a>
			<a href="/me" class{navStyles.me}>About Me</a>
		</nav>
		<nav class="right">
			<button id="theme-switch" aria-label="Toggle theme">
				<svg class="light" aria-hidden="true" xmlns="http://www.w3.org/2000/svg" height="24" width="24"><path fill="#eeeeee" stroke="#eeeeee" d="M12.075 19.7Q8.875 19.7 6.625 17.45Q4.375 15.2 4.375 12Q4.375 9.175 6.162 7.062Q7.95 4.95 10.625 4.425Q10.625 4.425 10.625 4.425Q10.625 4.425 10.625 4.425Q10.275 5.125 10.075 5.9Q9.875 6.675 9.875 7.5Q9.875 10.3 11.825 12.25Q13.775 14.2 16.575 14.2Q17.4 14.2 18.175 14Q18.95 13.8 19.625 13.45Q19.625 13.45 19.625 13.45Q19.625 13.45 19.625 13.45Q19.125 16.125 17.012 17.913Q14.9 19.7 12.075 19.7ZM12.075 19Q14.275 19 16.025 17.788Q17.775 16.575 18.575 14.625Q18.075 14.75 17.575 14.825Q17.075 14.9 16.575 14.9Q13.5 14.9 11.338 12.738Q9.175 10.575 9.175 7.5Q9.175 7 9.25 6.5Q9.325 6 9.45 5.5Q7.5 6.3 6.287 8.05Q5.075 9.8 5.075 12Q5.075 14.9 7.125 16.95Q9.175 19 12.075 19ZM11.825 12.25Q11.825 12.25 11.825 12.25Q11.825 12.25 11.825 12.25Q11.825 12.25 11.825 12.25Q11.825 12.25 11.825 12.25Q11.825 12.25 11.825 12.25Q11.825 12.25 11.825 12.25Q11.825 12.25 11.825 12.25Q11.825 12.25 11.825 12.25Q11.825 12.25 11.825 12.25Q11.825 12.25 11.825 12.25Q11.825 12.25 11.825 12.25Q11.825 12.25 11.825 12.25Z"/></svg>
				<svg class="dark" aria-hidden="true" xmlns="http://www.w3.org/2000/svg" height="24" width="24"><path fill="#343434" stroke="#343434" d="M12 15Q13.25 15 14.125 14.125Q15 13.25 15 12Q15 10.75 14.125 9.875Q13.25 9 12 9Q10.75 9 9.875 9.875Q9 10.75 9 12Q9 13.25 9.875 14.125Q10.75 15 12 15ZM12 15.7Q10.45 15.7 9.375 14.625Q8.3 13.55 8.3 12Q8.3 10.45 9.375 9.375Q10.45 8.3 12 8.3Q13.55 8.3 14.625 9.375Q15.7 10.45 15.7 12Q15.7 13.55 14.625 14.625Q13.55 15.7 12 15.7ZM2 12.35Q1.85 12.35 1.75 12.25Q1.65 12.15 1.65 12Q1.65 11.85 1.75 11.75Q1.85 11.65 2 11.65H4.65Q4.8 11.65 4.9 11.75Q5 11.85 5 12Q5 12.15 4.9 12.25Q4.8 12.35 4.65 12.35ZM19.35 12.35Q19.2 12.35 19.1 12.25Q19 12.15 19 12Q19 11.85 19.1 11.75Q19.2 11.65 19.35 11.65H22Q22.15 11.65 22.25 11.75Q22.35 11.85 22.35 12Q22.35 12.15 22.25 12.25Q22.15 12.35 22 12.35ZM12 5Q11.85 5 11.75 4.9Q11.65 4.8 11.65 4.65V2Q11.65 1.85 11.75 1.75Q11.85 1.65 12 1.65Q12.15 1.65 12.25 1.75Q12.35 1.85 12.35 2V4.65Q12.35 4.8 12.25 4.9Q12.15 5 12 5ZM12 22.35Q11.85 22.35 11.75 22.25Q11.65 22.15 11.65 22V19.35Q11.65 19.2 11.75 19.1Q11.85 19 12 19Q12.15 19 12.25 19.1Q12.35 19.2 12.35 19.35V22Q12.35 22.15 12.25 22.25Q12.15 22.35 12 22.35ZM6.575 7.025 5.025 5.525Q4.925 5.425 4.925 5.287Q4.925 5.15 5.025 5.025Q5.15 4.9 5.275 4.9Q5.4 4.9 5.525 5.025L7.05 6.55Q7.175 6.675 7.175 6.8Q7.175 6.925 7.075 7.05Q6.95 7.175 6.825 7.162Q6.7 7.15 6.575 7.025ZM18.475 18.975 16.95 17.45Q16.825 17.325 16.825 17.2Q16.825 17.075 16.95 16.95Q17.05 16.825 17.175 16.837Q17.3 16.85 17.425 16.975L18.975 18.475Q19.075 18.575 19.075 18.712Q19.075 18.85 18.975 18.975Q18.85 19.1 18.725 19.1Q18.6 19.1 18.475 18.975ZM16.95 7.05Q16.825 6.95 16.837 6.825Q16.85 6.7 16.975 6.575L18.475 5.025Q18.575 4.925 18.712 4.925Q18.85 4.925 18.975 5.025Q19.1 5.15 19.1 5.275Q19.1 5.4 18.975 5.525L17.45 7.05Q17.325 7.175 17.2 7.175Q17.075 7.175 16.95 7.05ZM5.025 18.975Q4.9 18.85 4.9 18.725Q4.9 18.6 5.025 18.475L6.55 16.95Q6.675 16.825 6.8 16.825Q6.925 16.825 7.05 16.95Q7.15 17.025 7.138 17.163Q7.125 17.3 7.025 17.425L5.525 18.975Q5.4 19.1 5.275 19.1Q5.15 19.1 5.025 18.975ZM12 12Q12 12 12 12Q12 12 12 12Q12 12 12 12Q12 12 12 12Q12 12 12 12Q12 12 12 12Q12 12 12 12Q12 12 12 12Z"/></svg>
			</button>
		</nav>
	</div>
</header>

<script>
/**
 * This code will handle the teme selection switch
 * TODO: persist settings in localStorage
 */
 "use strict";

function runWhenReady(fn) {
  if (document.readyState != 'loading'){
    fn();
  } else {
    document.addEventListener('DOMContentLoaded', fn);
  }
}

function toggleTheme(){
	//get stored state
	let isLight = window.localStorage.getItem("theme") == "light"
	//invert it
	if(isLight){
		window.localStorage.removeItem("theme")
		document.body.classList.remove("light")
	}
	else{
		window.localStorage.setItem("theme", "light")
		document.body.classList.add("light")
	}
}

runWhenReady(function main(){
	const switchDomRef = document.getElementById("theme-switch")
	switchDomRef.addEventListener("click", toggleTheme)
})
</script>


<style>
	header {
		position: fixed;
		top: 0;
		left: 0;
		width: 100%;
		background: var(--navbar-color);
		border-bottom: 1px solid var(--light-border-color);
		height: 60px;
		z-index: 9;
	}
	.header-container {
		display: flex;
		margin: 0 auto;
		align-items: center;
		padding: 0.5rem 1.5rem;
		font-family: var(--post-font-family);
		height: 100%;
		justify-content: space-between;
		max-width: var(--page-width);
	}
	nav {
		display: flex;
		align-items: center;
		justify-content: center;
		gap: 0.6rem;
		height: 100%;
	}
	nav.right{
		flex-basis: 160px;
		flex-shrink: 10;
		justify-content: flex-end;
	}

	a{
		display: flex;
		align-items: center;
		justify-content: center;
		color: var(--font-color);
		gap: 0.4rem;
		font-size: 0.9rem;
		padding: 0.5rem;
		border-radius: 8px;
		font-weight: 500;
		line-height: 1.1;
	}
	a:hover{
		color: var(--bright-font-color);
		background: var(--navbar-color-hover);
	}
	a.active{
		color: var(--bright-font-color);
	}
	a.brand{
		font-size: 1rem;
		font-weight: 600;
	}


button {
  position: relative;
  display: flex;
  align-items: center;
  justify-content: space-between;
  gap: 0.5rem;
  padding: 0.5rem;
  border: none;
  background: transparent;
  color: var(--font-color);
  cursor: pointer;
  line-height: 0;
  font-weight: 500;
}

button:hover {
  background: var(--navbar-color-hover);
  color: var(--bright-font-color);
}

button:focus {
  outline: none;
}

button:focus-visible {
  outline: 3px solid var(--primary);
}

button span {
  font-size: 0.9rem;
}

/* show dark icon when theme is dark */
button .light{
	display: block;
}
button .dark{
	display: none;
}
/* show light icon when theme is light */
body.light button .light{
	display: none;
}
body.light button .dark{
	display: block;
}

@media screen and (max-width: 800px) {
	a.brand{
		font-size: .9rem;
	}
	nav.right{
		flex-basis: auto;
	}
}
</style>
