---
export interface Props {
	post: any;
  shortDate: boolean;
}

const { post, shortDate } = Astro.props;

const publishDate = post.frontmatter.publishDate

const options = shortDate ? 
  { month: 'short',  year: 'numeric' } :
  { month: 'short', day: 'numeric' };

const readableDate = publishDate && new Intl.DateTimeFormat('en-US', options).format(new Date(publishDate));

let tagAtttributes = {}
if(Array.isArray(post.frontmatter.tags)){
	post.frontmatter.tags.forEach(t => {
		tagAtttributes = {
			...tagAtttributes,
			['data-tag-' + t]: "true"
		}
	})
}

---

<a href={post.url + "/"} class="post" {...tagAtttributes}>
	<h3>{post.frontmatter.title}</h3>
  <div>
	<time>{readableDate}</time>
  </div>
</a>

<style>

  a *{
  }
  a[aria-hidden="true"]{
    /*
    */
    display: none;
    text-decoration: line-through;
    color: var(--dark-font-color);
    opacity: .2;
  }
  a[aria-hidden="true"] *{
	color: var(--dark-font-color);
  }

</style>
