---
export interface Props {
	slug: any;
  text: any;
}

const { slug, text } = Astro.props;

let href = "/projects/#" + slug;

---

<a href={href} class="post" >
	<h3>{text}</h3>
  <div>
	github
  </div>
</a>

<style>

  a *{
	/* transition: all .5s; */
  }
  a[aria-hidden="true"]{
	display: none;
    color: var(--dark-font-color);
    text-decoration: line-through;
  }
  a[aria-hidden="true"] *{
	color: var(--dark-font-color);
  }
  a div{
	display: block;
text-align: right;
font-family: var(--code-font-family);
font-size: 0.8rem;
font-weight: 400;
color: var(--dark-font-color);
  }

</style>
